@charset "utf-8";

.min_wrapper[_ngcontent-ng-c890017428] { width: 460px; max-width: 460px; margin-left: auto; background: rgba(184, 222, 228, 0.1); margin-right: 35px; }

@media screen and (max-width: 1499px) {
  .min_wrapper[_ngcontent-ng-c890017428] { margin-right: 35px; }
}

@media screen and (max-width: 1399px) {
  .min_wrapper[_ngcontent-ng-c890017428] { margin-right: 35px; }
}

@media screen and (max-width: 1024px) {
  .min_wrapper[_ngcontent-ng-c890017428] { margin: 0px auto; }
}

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] { margin: 0px auto; width: 100%; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] { position: relative; width: 100%; max-width: 420px; margin-left: auto; margin-right: 56px; margin-top: -100px; background-color: rgb(255, 255, 255); padding: 25px; border: 4px solid rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.11) 5px 7px; z-index: 2; }

@media screen and (max-width: 1399px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] { max-width: 400px; }
}

@media screen and (max-width: 1024px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] { margin: 0px auto; }
}

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] { padding: 16px; margin: 0px auto; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .widget-buy-title[_ngcontent-ng-c890017428] { max-width: 100%; margin: 0px auto; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .height[_ngcontent-ng-c890017428] { min-height: 53px; max-width: 270px; font-size: 20px; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] { width: 100%; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] { background: url("/assets/images/svg-icons/counter_bg.svg") 0px 0px / 100% 100% no-repeat; min-width: 78px; padding: 15px; display: flex; justify-content: center; flex-direction: column; align-items: center; color: rgb(0, 0, 0); line-height: 1; }

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] { min-width: 23%; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] .value[_ngcontent-ng-c890017428] { font-size: 18px; font-weight: 600; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] .value.red[_ngcontent-ng-c890017428] { color: rgb(237, 59, 35); }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] .value.sky[_ngcontent-ng-c890017428] { color: rgb(0, 133, 255); }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] .value.green[_ngcontent-ng-c890017428] { color: rgb(0, 190, 53); }

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] .value[_ngcontent-ng-c890017428] { font-size: 18px; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] .indicator[_ngcontent-ng-c890017428] { font-size: 14px; font-weight: 500; line-height: 20px; }

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .counter[_ngcontent-ng-c890017428] .time-card[_ngcontent-ng-c890017428] .indicator[_ngcontent-ng-c890017428] { font-size: 12px; line-height: 15px; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] { background: url("/assets/images/progress-bar.png") 0px 0px / 100% no-repeat; width: 340px; height: 28px; position: relative; padding: 0px; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] .inner-bar[_ngcontent-ng-c890017428] { background-color: rgb(0, 0, 0); margin-top: -1px; width: calc(100% - 6px); border-radius: 3px; height: 21px; margin-left: 3px; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] .active-bar[_ngcontent-ng-c890017428] { position: absolute; height: calc(100% - 12px); max-width: calc(100% - 10px); background-color: rgb(1, 255, 26); z-index: 1; left: 5px; border-radius: 4px; top: 5px; }

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] .active-bar[_ngcontent-ng-c890017428] { top: 9px; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] .usdt-text[_ngcontent-ng-c890017428], .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] p[_ngcontent-ng-c890017428] { z-index: 2; }

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] { width: 100%; }
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .raised_progress[_ngcontent-ng-c890017428] div[_ngcontent-ng-c890017428] { line-height: 12px; margin-top: -4px; font-size: 11px !important; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .progress[_ngcontent-ng-c890017428] { width: 90%; border-radius: 0px; height: 16px; background: rgb(0, 0, 0); margin: 0px auto; overflow: hidden; position: relative; }

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .progress[_ngcontent-ng-c890017428] { width: 100%; }
}

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .progress[_ngcontent-ng-c890017428] .status[_ngcontent-ng-c890017428] { position: absolute; width: 100%; height: 100%; font-size: 12px; text-align: center; z-index: 1; color: rgb(42, 42, 42); }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .progress[_ngcontent-ng-c890017428] .bar[_ngcontent-ng-c890017428] { border-radius: 20px; background: rgb(51, 255, 0); }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .swapArea[_ngcontent-ng-c890017428] { position: relative; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .swapArea.cover[_ngcontent-ng-c890017428]::after { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(184, 222, 228, 0); z-index: 1; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .poweredByIcon[_ngcontent-ng-c890017428] { height: 16px; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .whitelist[_ngcontent-ng-c890017428] { margin: 15px 0px 0px; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .whitelist[_ngcontent-ng-c890017428] img[_ngcontent-ng-c890017428] { display: block; margin: 0px auto 15px; max-width: 105px; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] a[_ngcontent-ng-c890017428] { color: rgb(42, 42, 42); max-width: 100%; }

.min_wrapper[_ngcontent-ng-c890017428] .widget[_ngcontent-ng-c890017428] .top-right[_ngcontent-ng-c890017428] { display: flex; justify-content: center; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-toggle[_ngcontent-ng-c890017428] { width: 100%; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-toggle[_ngcontent-ng-c890017428]::after { position: absolute; right: 12px; opacity: 0; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-toggle[_ngcontent-ng-c890017428] .flag-icon[_ngcontent-ng-c890017428] { border-radius: 50%; overflow: hidden; margin-right: 3px; min-width: 20px; width: 20px; height: 20px; object-fit: cover; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-toggle[_ngcontent-ng-c890017428] .dropdown[_ngcontent-ng-c890017428] { cursor: pointer; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] { width: 100%; overflow-y: auto; padding: 0px; border: 2px solid rgba(128, 128, 128, 0.11); background-color: rgb(221, 156, 156) !important; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] [_ngcontent-ng-c890017428]:hover { background-color: inherit !important; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] li[_ngcontent-ng-c890017428] { height: 40px; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] li[_ngcontent-ng-c890017428]:hover a[_ngcontent-ng-c890017428] { color: rgb(184, 222, 228) !important; }

@media screen and (max-width: 576px) {
  .min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] { max-height: 210px; }
}

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] li[_ngcontent-ng-c890017428] { display: flex; align-items: center; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] li[_ngcontent-ng-c890017428] img[_ngcontent-ng-c890017428] { border-radius: 50%; border: 1px solid rgb(184, 222, 228); overflow: hidden; margin-right: 10px; min-width: 20px; height: 20px; width: 20px; object-fit: cover; }

.min_wrapper[_ngcontent-ng-c890017428] .dropdown-menu[_ngcontent-ng-c890017428] li[_ngcontent-ng-c890017428] span[_ngcontent-ng-c890017428] { color: rgb(184, 222, 228); }

.min_wrapper[_ngcontent-ng-c890017428] .dropup[_ngcontent-ng-c890017428]:hover { opacity: 1; }
